@charset "UTF-8";
body {
  font-family: "Noto Serif JP", serif;
  font-size: 62.5%;
  background-color: #e6e2d7;
}
#header {
  background-image: url(./images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
  writing-mode: vertical-rl;
  margin-bottom: 180px;
  position: relative;
}
#header h1 {
  margin: 7%;
  font-size: 2.5rem;
}
#navigation ul li {
  padding: 2%;
  font-size: 1rem;
}
li {
  list-style: none;
}
#header .online {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 40px;
  padding: 1%;
  top: 49%;
}
#header .online a {
  display: block;
  border: solid 1px #ccc;
  padding: 30px 18px;
  font-size: 1rem;
}
a {
  color: #fff;
  text-decoration: none;
}
#news {
  writing-mode: vertical-rl;
  padding-bottom: 180px;
  margin: 0 auto;
}
#news h2 {
  font-size: 2.5rem;
}
.ne {
  font-size: 1rem;
}
.title {
  font-size: 1rem;
  border-left: black;
  padding: 7% 4% 0;
}
.notice-item {
  border-right: solid;
  border-width: 1px;
  padding: 3%;
}
.notice-item:last-child {
  border-left: 1px solid black;
}
.notice-title {
  padding: 4%;
  display: block;
  font-size: 1rem;
}
#section1 {
  display: flex;
  flex-direction: row-reverse;
}
.products {
  margin: 0 auto;
  max-width: 1024px;
  padding-bottom: 180px;
  align-items: flex-end;
}
#section1 h2 {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-left: 24px;
}
#section1 h2 span {
  writing-mode: vertical-rl;
}
.section-title {
  font-size: 2.5rem;
}
.section-subtitle {
  font-size: 0.9rem;
}
.product {
  position: relative;
}
.product img {
  width: 500px;
}
.product-text {
  color: #fff;
  font-size: 1.2rem;
  padding: 50px 0;
  width: 56%;
  margin: 0;
  background: rgba(249, 233, 6, 0.6);
  text-align: center;
  position: absolute;
  bottom: -24px;
  left: -24px;
}
.product-text.secondary {
  background: rgba(149, 42, 38, 0.6);
  bottom: -24px;
  right: -24px;
  left: auto;
}
#section2 {
  display: flex;
}
#section2 h2 {
  writing-mode: vertical-rl;
  margin-left: 0;
}
.map iframe {
  width: 100%;
}
#footer {
  display: block;
  color: #fff;
  background-color: #000;
}
.detail {
  writing-mode: vertical-rl;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  width: 95%;
  margin: 0 auto;
  padding: 5% 0 3%;
}
.footer-create {
  margin: 10%;
}
.text-create {
  font-size: 2.5rem;
}
.footer-last {
  text-align: center;
  padding-bottom: 10px;
}
.mail {
  font-size: 0.9rem;
}
.address {
  font-size: 0.7rem;
}
.address-text {
  line-height: 25px;
}
.footer-item {
  margin-left: 10px;
  font-size: 0.9rem;
  display: block;
}
.footer-nav {
  padding-inline-start: 0%;
}

@media screen and (max-width: 480px) {
  #header {
    background-image: url(./images/media-img.jpg);
    margin-bottom: 80px;
  }
  #news {
    margin-right: 0%;
    padding-bottom: 80px;
    width: 100%;
  }
  #news h2 {
    margin-right: 0%;
    margin-top: 0;
  }
  #header .online {
    top: 67%;
  }
  .notice-item {
    padding: 0;
  }
  .notice-title {
    padding: 15px 0 12px 15px;
  }
  .notice-postday {
    padding: 4%;
    display: block;
  }
  #section1 {
    padding-bottom: 100px;
    align-items: flex-start;
  }
  #section1 h2 {
    padding-left: 0;
  }
  .product img {
    width: 100%;
    margin-top: 70px;
  }
  .product-text {
    width: 53%;
    padding: 30px 0;
    font-size: 0.8rem;
    line-height: 1.5;
    left: -20px;
    bottom: -20px;
  }
  .product-text.secondary {
    right: -20px;
  }
  .section-title {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .section-subtitle {
    display: none;
  }
  #section2 {
    margin-bottom: 100px;
  }
  #section2 .section-title {
    margin: 0 10px 0 0;
  }
  .detail {
    width: 100%;
  }
  #footer {
    padding: 40px 20px;
  }
  .text-create {
    margin-right: 0;
  }
  .footer-create {
    margin: 0;
  }
  .footer-nav {
    padding-right: 25px;
  }
  .footer-last {
    padding: 0;
  }
  .notice-item:nth-child(n + 4) {
    display: none;
  }
  .notice-item:nth-child(3) {
    border-left: 1px solid black;
  }
  .products {
    align-items: flex-start;
    padding: 0 20px;
  }
}
